.vagrant/
playbooks/host_vars/
*.log
Vagrantfile
playbooks/inventory.ini
terraform/.terraform*
.vscode
terraform/**/.terraform
terraform/**/.terraform.lock.hcl
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.*
terraform/k8s-creation/kubeadm.tf

